<html>

<head>
    <title>Please login</title>
    <link rel="stylesheet" href="/css/admin.css">
</head>

<body>
    <form class="login_form" method="post" action="/admin/login">
        <input type="text" name="username" />
        <input type="password" name="password" />
        <button id="submit_login">Login</button>
    </form>

    <script type="text/javascript" src="/js/admin.js" ></script>
</body>

</html>
