<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Helpin: Գնահատիր քաղաքի ուզածդ վայրը</title>
        <meta name="description" content="գնահատել վայրեր">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta property="og:title" content="Helpin: Գնահատիր քաղաքի ուզածդ վայրը">
        <meta property="og:description" content="Հելփինը խմբավորում է քո ընկերների կարծիքները տարբեր վայրեր մասին՝ մեկ տեղում։ Սրճարանից մինչեւ հյուրանոց, ավտոսպասարկման կետից մինչեւ ատամնաբուժարան։ Հելփինում կգտնես միայն լավագույն գնահատական ունեցող վայրը։">
        <meta property="og:url" content="http://helpin.am/" />
        <meta property="og:image" content="http://helpin.am/img/xelpin.png" />
        <meta property="og:type" content="website">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link href='http://fonts.googleapis.com/css?family=Raleway:400,100,300,700,600,500' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,400italic,700' rel='stylesheet' type='text/css'>


        <link rel="stylesheet" href="css/slicknav.css">
        <link rel="stylesheet" href="css/owl.theme.css">
        <link rel="stylesheet" href="css/owl.carousel.css">
        <link rel="stylesheet" href="css/owl.transitions.css">
        <link rel="stylesheet" href="css/font-awesome.min.css">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/responsive.css">
        <script src="js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->

         <!-- header Start
         ================================================= -->

        <section id="header">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="block-left">
							<nav class="navbar navbar-default" role="navigation">
							  <div class="container-fluid">
								<!-- Brand and toggle get grouped for better mobile display -->
								<div class="navbar-header">
								  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								  </button>
								  <div class="nav-logo">
									<a href="#"><img src="img/logo.png" alt="logo"></a>
								  </div>
								</div>


							  </div><!-- /.container-fluid -->
							</nav>
                        </div>
                    </div><!-- .col-md-6 -->

                    <div class="col-md-6">
                        <div class="block-right">
                            <div class="contact-area">
                                <ul>
                                    <li><i class="fa fa-phone-square"></i>011 43 00 00</li>
                                    <li><i class="fa fa-envelope-o"></i>info@helpin.am</li>
                                </ul>
                            </div>
                        </div>
                    </div><!-- .col-md-6 close -->
                </div><!-- .row close -->
            </div><!-- .container close -->
        </section><!-- #heder close -->

        <!-- Slider Start
        ============================================================== -->

        <section id="slider">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block">
                            <div class="slider-text-area">
                                <div class="slider-text">
                                    <h2>Լավագույն վայրերի քո ուղեկիցը <br></h2> <br>
                                    <a href='https://play.google.com/store/apps/details?id=com.self.suggestdesk' target="_blank"><button type="button" class="btn btn-danger">Google Play</button></a>
                                    <a href='https://itunes.apple.com/us/app/helpin-am/id1313067452' target="_blank"><button type="button" class="btn btn-danger">App Store</button></a>
                                </div>
                            </div>
                        </div>
                    </div><!-- .col-md-12 close -->
                </div><!-- .row close -->
            </div><!-- .container close -->
        </section><!-- #slider close -->

        <!-- Service Start
        ============================================================= -->

        <section id="service">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block-top">
                            <div class="service-header">
                                <h1>Կիսվիր քո կարծիքով ուզածդ վայրի մասին</h1>
                                <p>Հելփինը ստեղծվել է համեստ նպատակով եւ մեծ սրտով։ Հավելվածը բոլոր վայրերի համար նախատեսված տեղեկատու է, որոնց որակը գնահատվում է միայն ու միայն հաճախորդների կողմից:</p>
                            </div>
                        </div>
                    </div><!-- .col-md-12 close -->
                </div><!-- row close -->
				<div class="row">
					<div class="col-md-12">
						<div class="block-bottom">
							<div class="service-tab">
								  <!-- Nav tabs -->
								  <ul class="badhon-tab" role="tablist">
									<li class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">
									<i class="fa fa-heart-o"></i>
									Հայտնիր կարծիքդ
									</a></li>
									<li><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">
									<i class="fa fa-briefcase"></i>
									Բոլոր վայրերը
									</a></li>
									<li><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">
									<i class="fa fa-leaf"></i>
									Ակտիվ որոնում
									</a></li>
									<li><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">
									<i class="fa fa-briefcase"></i>
									Միջոցառումներ
									</a></li>
									<li><a href="#umbrella" aria-controls="settings" role="tab" data-toggle="tab">
									<i class="fa fa-umbrella"></i>
									Ամբողջական ինֆորմացիա
									</a></li>
								  </ul>

								  <!-- Tab panes -->
								  <div class="tab-content edit-tab-content">
									<div class="tab-pane active edit-tab" id="home">
										<div class="teb-icon-edit">
											<i class="fa fa-heart-o"></i>
										</div>
										<h1>Գնահատիր եւ մեկնաբանիր քո սիրելի վայրերը</h1>
										<p>Հաճախ չենք կողմնորոշվում՝ ուր գնալ ընկերների հետ զվարճանալու, ինչ նոր սրճարաններ կան, կամ նույնիսկ որտեղ է նպատակահարմար վերանորոգել մեքենան։ Այսպիսի դեպքերում դիմում ենք ընկերների օգնությանը՝ հարցնելով խորհուրդներ իրենց այցելած վայրերի մասին։ Հելփինի նպատակն է՝ խմբավորել բոլոր կարծիքները մեկ տեղում։</p>
									</div>
									<div class="tab-pane edit-tab" id="profile">
										<div class="teb-icon-edit">
											<i class="fa fa-briefcase"></i>
										</div>
										<h1>Բոլոր վայրերը մեկ տեղում</h1>
										<p>Հելփինում մանրակրկիտ ավելացվում են երկրի բոլոր վայրերը։ Խելացի ձեռնարկատերը հիմնվում է հաճախորդների կարծիքի վրա։ Հանճարեղ ձեռնարկատերը համագործակցում է Հելփինի հետ, որտեղ կենտրոնացած են հաճախորդների անկեղծ կարծիքները։</p>
									</div>
									<div class="tab-pane edit-tab" id="messages">
										<div class="teb-icon-edit">
											<i class="fa fa-leaf"></i>
										</div>
										<h1>Սրճարանից մինչեւ ատամնաբուժարան</h1>
										<p>Հելփինի նպատակն է խմբավորել առօրյայում անհրաժեշտ վայրերը մեկ տեղում։ Մատի մեկ հպումով հնարավոր է գտնել լավագույն սրճարանը, կամ ամենաբարձրորակ մեքենայի սպասարկման կետը, նույնիսկ ուսումնական հաստատություններ։ Ցանկացած վայր դիտարկվում է որպես հաճախորդների անկեղծ կարծիքների արդյունք։</p>
									</div>
									<div class="tab-pane edit-tab" id="settings">
										<div class="teb-icon-edit">
											<i class="fa fa-briefcase"></i>
										</div>
										<h1>Հետաքրքիր միջոցառումներ</h1>
										<p>Հելփինում հրապարակվում են բոլոր վայրերի կողմից կազմակերպվող հետաքրքիր միջոցառումները։ Այսուհետ բաց չես թողնի այն ինչ քեզ հետաքրքիր է։ Ավելին, Հելփինը հայտնում է նաեւ կարեւոր ակցիաների եւ զեղչերի մասին։</p>
									</div>
									<div class="tab-pane edit-tab" id="umbrella">
										<div class="teb-icon-edit">
											<i class="fa fa-umbrella"></i>
										</div>
										<h1>Ամեն ինչ՝ վայրի մասին</h1>
										<p>Բոլոր վայրերի մասին Հելփինը տրամադրում է ամբողջական ինֆորմացիա, հեռախոսահամար, հասցե, դիրքը քարտեզի վրա, վեբ կայքի հասցե, նկարագրություն, նկարներ, հաճախորդների կարծիքներ, հաստատության մասնաճյուղեր։</p>
									</div>
								  </div>
							</div>
						</div>
					</div><!-- .col-md-12 close -->
				</div><!-- row close -->
            </div><!-- .container close -->
        </section><!-- #service close -->


        <!-- contant-1 start
        ===================================================== -->
        <section id="contant-1">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="block-left">
                            <div class="contant-1-text-area">
                                <div class="contant-1-head">
                                    <h1>Helpin <br> լավագույն վայրերը՝ ճիշտ հերթականությամբ</h1>
                                </div>
                                <div class="contant-1-text">
                                    <h2>Մեկնաբանիր կամ գնահատիր քո սիրելի վայրը</h2>
                                    <p>Ձեր կարծիքների հիման վրա լավագույն վայրերը Հելփինում դասավորվում են ըստ գնահատականի։ Ընտրեք ցանկացած խումբ՝ Սնունդ, Գեղեցկություն, Հոթել, Շոփինգ, Երեխաների համար, Ֆինանսական հաստատություններ, ինչպես նաեւ ցանկացած այլ խումբ եւ կտեսնեք լավագույն վայրերը՝ դասավորված ըստ գնահատականի։</p>
                                    <a href='https://itunes.apple.com/us/app/helpin-am/id1313067452' target="_blank"><button type="button" class="btn btn-default edit-button-2">iOS</button></a>
                                    <a href='https://play.google.com/store/apps/details?id=com.self.suggestdesk' target="_blank"><button type="button" class="btn btn-default edit-button-2">Android</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="block-right">
                            <div class="block-right-img">
                                <img src="img/nofon.png" alt="img">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!-- Gallery Start
        ============================================================= -->

        <section id="gallery">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block-top">
                            <div class="gallery-area">
                                <h1>Հայկական հավելված՝ արտասահմանյան տեսքով</h1>
                                <p>Հելփինը խմբավորում է օգտագործման ամենահարմար միջոցներն ու ինտերֆեյսի գունային հաճելի գամմա։ Հելփինը կատարելագործվում է ամեն օր։  <br> Մեր նպատակն  է ավելացնել նոր ֆունկցիոնալ, շտկել հնարավոր սխալները, գեղեցկացնել ինտերֆեյսը ամեն օր։  <br> Ամեն օր։ </p>
                            </div>
                        </div>
                    </div><!-- .col-md-12 -->
                </div><!-- .row close -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="block-bottom">
                            <div class="gallery-list" id="owl-demo">
                                <div class="gallery-items item">
                                    <div class="gallery-img">
                                        <img src="img/gallery-1.png" alt="img">
                                    </div>
                                    <div class="gallery-items-text">
                                        <p>Բարի գալուստ Հելփին։</p>
                                    </div>
                                </div>
                                <div class="gallery-items item">
                                    <div class="gallery-img">
                                        <img src="img/gallery-2.png" alt="img">
                                    </div>
                                    <div class="gallery-items-text">
                                        <p>Վայրերի բոլոր խմբերը մեկ հավելվածում։</p>
                                    </div>
                                </div>
                                <div class="gallery-items item">
                                    <div class="gallery-img">
                                        <img src="img/gallery-3.png" alt="img">
                                    </div>
                                    <div class="gallery-items-text">
                                        <p>Թեյ, սուրճ, միգուցե՞ նախաճաշ։</p>
                                    </div>
                                </div>
                                <div class="gallery-items item">
                                    <div class="gallery-img">
                                        <img src="img/gallery-4.png" alt="img">
                                    </div>
                                    <div class="gallery-items-text">
                                        <p>Մանրամասն ինֆորմացիա ցանկացած վայրի մասին։</p>
                                    </div>
                                </div>
                                <div class="gallery-items item">
                                    <div class="gallery-img">
                                        <img src="img/gallery-5.png" alt="img">
                                    </div>
                                    <div class="gallery-items-text">
                                        <p>Բոլոր վայրերը բաժանված են խմբերի։</p>
                                    </div>
                                </div>
                                <div class="gallery-items item">
                                    <div class="gallery-img">
                                        <img src="img/gallery-6.png" alt="img">
                                    </div>
                                    <div class="gallery-items-text">
                                        <p>Օգտագործողն ի վիճակի է ստեղծել ամբողջական էջ։</p>
                                    </div>
                                </div>
                                <div class="gallery-items item">
                                    <div class="gallery-img">
                                        <img src="img/gallery-7.png" alt="img">
                                    </div>
                                    <div class="gallery-items-text">
                                        <p>Վերջին կարծիքները՝ մեկ էջում։</p>
                                    </div>
                                </div>
                                <div class="gallery-items item">
                                    <div class="gallery-img">
                                        <img src="img/gallery-8.png" alt="img">
                                    </div>
                                    <div class="gallery-items-text">
                                        <p>Ոչ մի խումբ չի բացակայում Հելփինից։</p>
                                    </div>
                                </div>
                                <div class="gallery-items item">
                                    <div class="gallery-img">
                                        <img src="img/gallery-9.png" alt="img">
                                    </div>
                                    <div class="gallery-items-text">
                                        <p>Տես վայրերը քարտեզի վրա։</p>
                                    </div>
                                </div>
                                <div class="gallery-items item">
                                    <div class="gallery-img">
                                        <img src="img/gallery-10.png" alt="img">
                                    </div>
                                    <div class="gallery-items-text">
                                        <p>Խնդիրների մասին հայտնում է Հելփինիկը։</p>
                                    </div>
                                </div>
                                <div class="gallery-items item">
                                    <div class="gallery-img">
                                        <img src="img/gallery-11.png" alt="img">
                                    </div>
                                    <div class="gallery-items-text">
                                        <p>Արագ որոնման համակարգ։</p>
                                    </div>
                                </div>
                                <div class="gallery-items item">
                                    <div class="gallery-img">
                                        <img src="img/gallery-12.png" alt="img">
                                    </div>
                                    <div class="gallery-items-text">
                                        <p>Ըստ անհրաժեշտության։</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- .col-md-12 close -->
                </div><!-- .row close -->
            </div><!-- .container close -->
        </section><!-- #gallery close -->


        <!-- Contant-2 Start
        =============================================================== -->

        <section id="contant-2">
            <img src="img/signin_up.png" alt="img">
        </section>


        <!-- testimonial Start
        ============================================================= -->

        <!--
        <section id="testimonial">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block">
                            <div class="testimonial-area">
                                <div class="tm-header">
                                    <h2>What people say about us</h2>
                                </div>
                                <div class="tm-contant">
									<div class="tm-contant-items" id="slide-testimonial">
										<div class="tm-contant-list item">
											<div class="tm-img">
												<img src="img/pepole-img.png" alt="img">
											</div>
											<div class="tm-text">
												<p>" It’s official – I love this app, I couldn’t be without it now." <span>- Ron Burgundy</span></p>
											</div>
										</div>
										<div class="tm-contant-list item">
											<div class="tm-img">
												<img src="img/pepole-img.png" alt="img">
											</div>
											<div class="tm-text">
												<p>" It’s official – I love this app, I couldn’t be without it now." <span>- Ron Burgundy</span></p>
											</div>
										</div>
										<div class="tm-contant-list item">
											<div class="tm-img">
												<img src="img/pepole-img.png" alt="img">
											</div>
											<div class="tm-text">
												<p>" It’s official – I love this app, I couldn’t be without it now." <span>- Ron Burgundy</span></p>
											</div>
										</div>
									</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    -->


        <!-- Submit Start
        ======================================================== -->
<!--
        <section id="submit-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block">

                        </div>
                    </div>
                </div>
            </div>
        </section>
     -->


        <!-- footer Start
        ====================================================================== -->

        <section id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block">
                            <div class="footer-contant">
                                <div class="social-icon">
                                    <a href="https://www.facebook.com/helpinofficialpage/" target="_blank"><i class="fa fa-facebook"></i></a>
                                        <a href="https://itunes.apple.com/us/app/helpin-am/id1313067452" target="_blank"><i class="fa fa-ios">i</i></a>
                                    <a href="https://play.google.com/store/apps/details?id=com.self.suggestdesk" target="_blank"><i class="fa ">A</i></a>
                                </div>
                                <div class="support-link">
                                    <ul>
                                        <li><a href="mailto:support@helpin.am">Contact</a></li>
                                        <li><a href="http://helpin.am/terms-of-use" target="_blank">Terms of Service</a></li>
                                        <li><a href="http://helpin.am/service-privacy-policy" target="_blank">Privacy Policy</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div><!-- col-md-12 -->
                </div><!-- .row -->
            </div><!-- .container -->
        </section><!-- #footer -->
















        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
        <script src="js/owl.carousel.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-88740587-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-88740587-1');
        </script>

    </body>
</html>
