<h2 align="center">Privacy Policy</h2>

<p>Service conditions </p>

<p>
    Detailed data on conditions of use of our website, applications and the services Helpin are below included. These
    conditions come into force as of November 21, 2016 and regulate your access and use of the Helpin website or any
    mobile applications created by Helpin LLC (further " Helpin service " or “Helpin” ). In current document information
    on methods of decisions of disputes and claims to Helpin are indicated.
</p>

<p>
    Online projects of Helpin service is registered in the state register of the companies in republic of Armenia under
    number 03Ա1085255 (the last update: 21.11.2016).
</p>

<p>
    Any questions can be sent to the address: info@helpin.am.
</p>

<p>
    Protection of confidentiality
</p>

<p>
    Helpin deeply respects private life of clients and guarantees that personal information will not be transferred to
    the third parties. Helpin monitors observance of the rules provided in the marine life protection act of personal
    data.
</p>

<h4>Viewing and editing personal data</h4>

<p>
    According to the marine life protection act of personal data, you have the right to look through and change all your
    personal information which was collected by Helpin.
</p>

<p>
    For this purpose, please, contact us - info@helpin.am or call by phone number +374 11 43 00 00.
</p>

<h4>Handling of personal data</h4>

<p>
    Personal data of clients are used only according to general rules and provisions. Helpin does not sell personal
    customer information and does not disclose to the third parties for commercial purposes except as specified,
    stipulated by the legislation and persons or companies which have direct participation in this agreement, such as
    banks, accounting companies, legal services, etc.
</p>

<h4>Use of personal data in the marketing purposes</h4>

<p>
    For the purpose of provision of the marketing services Helpin can use personal data of the clients and on the basis
    of the provided data can distribute booklets, letters or send e-mail, send SMS, make calls, use other means of
    communication on behalf of Helpin or their partners. To unsubscribefrom such information clients should inform to
    Helpin by phone number +374 11 43 00 00 or send by e-mail info@helpin.am.
</p>

<h4>Helpin relations with the companies and the organizations listed on the website</h4>

<p>
    Helpin provides public information on the organizations and the companies listed on the website.
</p>

<h4>Consideration of claims</h4>

<p>
    Helpin doesnot hold the responsibility for websites, quality of provided services and goods of the organizations and
    the companies listed on the website.
</p>

<p>
    Helpin connot consider claims concerning the organizations and the companies listed on the website and qualities of
    the provided services and goods by these organizations.
</p>

<p>
    Helpin page web For all claims and offers to please send e-mails toinfo@helpin.am or call by phone number + 37411 43
    00 00.
</p>

<h4>Letter and undesirable e-mail messages (spam)</h4>

<p>
    If you are a registered client, you will regularly receive letters from Helpin. User can refuse receipt of these
    messages by Cancellation button (to cancel a subscription), which is in the bottom of each letter.
</p>

<p>
    Helpin does not send undesirable e-mails to "spam". For more information please call or send letters addressed to
    info@helpin.am or contact by phone number +374 11 43 00 00.
</p>

<h4>Protection of an author's right</h4>

<p>
    Helpin is a registered trademark. You cannot use, copy, translate and/or extend the helpin.am trademark without any
    permission. If you are interested by the information on the Helpin website, please, contact Helpin, sending e-mails
    to info@helpin.am or by phone number +374 11 43 00 00.
</p>

<h4>Responsibility</h4>

<p>Helpin does not bear the responsibility for technical defects and servicing.</p>

<p>
    Helpin services, including current agreement and “Terms of Use” are regulated by the legislation of the Republic of
    Armenia.
</p>

<p>
    Helpin.am &copy; 2017 - All rights reserved.
</p>
