<h2 align="center">Terms of use</h2>

<p>User agreement</p>

<p>
    This User Agreement (UA) of LLC Internet Projects (Helpin) comes into force from the moment of expression of a
    consent with its conditions by you by downloading by the User without authorization on the website or by
    registration on the website Helpin.
</p>

<h4>1. Subject of the User Agreement</h4>

<p>1.1 Helpin offers you the services on the conditions which are a subject of this User Agreement (UA).</p>

<p>
    1.2 The agreement can be changed by –Helpin without any special notification; new edition of the Agreement comes
    into force from the moment of its placement if other isn't provided by new edition of the Agreement. The current
    version of UA is located at on the <a href="http://www.helpin.am/service-privacy-policy">http://www.helpin.am/service-privacy-policy</a> page.
</p>

<h4>2. Description of services</h4>

<p>
    2.1 Helpin is a unified information system, which offers users ample opportunities for quick search, identification
    of the place, rating and a range of provided services by all companies and organizations available on our website.
</p>

<p>
    2.2 The user agrees that all services are provided "as is" and that Helpin doesn't take the responsibility for
    quality of the provided services and goods, the organizations and the companies, removal or unsafety of any user
    personal information.
</p>

<p>
    2.3 To use services of Helpin, it is necessary to have computer and Internet access (WWW).
</p>

<h4>
    3. Liabilities on registration and use of the website
</h4>

<p>
    3.1 Upon registration in Helpin, the User agrees to provide the true, exact and complete information about
    himself/herself on the questions offered in the registration form, to undergo the procedure of registration on the
    Web Website, having filled in the registration form and having expressed a consent with terms of agreement, way of
    confirmation of the point "terms of agreement".
</p>

<p>
    3.2 If the User provides incorrect information or Helpin has serious reasons to believe that information provided is
    incorrect, incomplete or inexact, Helpin has the right to suspend or cancel registration of the user and to refuse
    the use of the service (services).
</p>

<p>
    3.3 For the purpose of marketing, PR or other similar services Helpin can use personal data of the clients: on the
    basis of these data on its own behalf and/or a name of the partners to provide booklets, to send electronic/paper
    letters and SMS, to do calls and to use other communication channels. For refusal of obtaining such is information
    sorts, the client shall inform to this Helpin, calling by number +374 11 43 00 00 or to send a relevant letter by
    e-mail info@helpin.am.
</p>

<h4>4. Registration, password and safety</h4>

<p>
    4.1 Upon completion of registration process the User receives login and the password for access to personal account.
</p>

<p>
    4.2 User bears responsibility for safety of the login and the password, and also for everything that will be made on
    Helpin under its login and the password.
</p>

<p>
    4.3 User agrees that he/she is obliged to notify immediately Helpin on any case of not authorized (not permitted)
    access with the login and the password and/or on any violation of safety.
</p>

<h4>5. Conditions of use of the materials placed on Helpin</h4>

<p>
    5.1 The website contains the materials protected by an author's right, trademarks and other materials protected by
    the law, including but not limited by: texts, photos, graphics.
</p>

<p>
    5.2 At the same time all site content is protected by author's right as the work created by collective creative
    activity according to the legislation of Republic of Armenia on author's right and the neighboring rights.
</p>

<p>
    5.3 Helpin possesses an author's right on use of the site content (including the right to matching, arrangement,
    systematization and transformation of the data containing on the website Helpin and also to basic data), except the
    cases which are separately noted in content of the materials published on the website.
</p>

<p>
    5.4 The user has no right to make changes, to publish, transfer to the third parties, to create derivative products
    or otherwise use, partly or fully, the site content.
</p>

<p>
    5.5 The user of Network undertakes to use the Website only by legal purposes.
</p>

<p>
    5.6 The user of Network undertakes not to post on the Website and not to direct somewhere through/by means of the
    Website any materials of the following nature: the threats and insults discrediting other persons, violating the
    rights of citizens to private life or the public orders having character of obscenity violating the law, containing;
    the honor and advantage, the rights and interests of other persons protected by the law breaking in a varying
    degree; the promoting or containing appeals to incitement of religious, racial or ethnic strife containing attempts
    of kindling of hostility or appeals to violence; and also other materials which induce other persons on the
    delinquent behavior attracting criminal, civil and other liability or somehow breaking legislation provisions.
</p>

<p>
    5.7 The user undertakes not to place on Helpin and not to direct through/by means of the website the materials which
    are advertizing of any goods or services without receipt of the prior expressed Helpin consent.
</p>

<p>
    5.8 The user undertakes not to use Helpin for advertizing or other sales promotion of any goods and services in any
    form, including stimulation of users to a subscription to other system of interactive servicing, being the
    competitor of Helpin.
</p>

<p>
    5.9 The user undertakes not to load, use or place on the website any materials protected by the legislation on
    intellectual property (including author's right, the legislation on trademarks etc.), and other materials protected
    by the legislation without receipt of the expressed permission of the owner of the rights to the protected material.
    At the same time the burden of proof of the fact that placement on the website by the user of materials doesn't
    violate authors, adjacent and other third party rights to the placed materials lies on the User.
</p>

<p>
    5.10 The user undertakes not to change, not to adapt Helpin service, not to create and not to change the website or
    a mobile application thus to mislead other users on the fact that these changes are connected with Helpin or Helpin
    services.
</p>

<p>
    5.11 The user undertakes not to try to get unauthorized access to the services Helpin and its systems, networks and
    access to private API Helpin, by any method, except which are delivered on API of access.
</p>

<h4>6. Basic rules of Helpin</h4>

<p>
    6.1 The user recognizes and agrees that services Helpin and all related necessary programs contain confidential
    information, which is protected by intellectual property laws and other international laws. The user agrees not to
    modify, not to sell, not to distribute this content and programs, entirely or partly.
</p>

<h4>7. Confidentiality</h4>

<p>
    7.1 Personal user information is processed according to current laws of Republic of Armenia.
</p>

<p>
    7.2 Helpin has the right to record telephone conversations with the User. In case of this Helpin undertakes to
    prevent attempts of unauthorized access to information obtained during telephone negotiations and/or transfer to
    third parties.7.3 In case of registration on the website Helpin, the User provides the following information: name,
    e-mail address, phone number.
</p>

<p>
    7.4 In case of order placement on Helpin.am the user provides the following information: name, contact phone number,
    delivery address.
</p>

<p>
    7.5 Providing personal data during registration/order for Helpin, the user agrees on handling of Helpin, including
    the purpose of informing Users on the services.
</p>

<p>
    7.6 Helpin uses personal user information: for registration of the user for Helpin, accomplishment of the
    liabilities to the User and job analysis of the Website.
</p>

<p>
    7.6.1 Helpin has the right to send information, including advertizing messages, e-mails and mobile phone number of
    the User from his consent. The user has the right to refuse receipt of advertizing and other information without
    explanation of refusal. The service messages informing the User on the order and stages of its handling go
    automatically and can't be rejected by the User.
</p>

<p>
    7.7 Helpin has the right to use cookies technology. "Cookies" don't contain confidential information and aren't
    transferred to the third parties.
</p>

<p>
    7.8 Helpin obtains information on the IP address of the visitor of the Website www.helpin.am. This information
    cannot be used for identification of the visitor.
</p>

<p>
    7.9 Helpin doesn't bear responsibility for the information provided by the User on the Website in an accessible
    form.
</p>

<h4>8. General provisions</h4>

<p>
    8.1 This agreement is regulated by regulations of the legislation of Republic of Armenia.
</p>

<p>
    8.2 All possible disputes over an occasion of the Agreement are resolved according to regulations of the current
    legislation of Republic of Armenia.
</p>

<p>
    8.3 In view of gratuitousness of terms of this agreement of a regulation about consumer protection cannot be
    applicable to the relations between the User and Helpin.
</p>

<p>
    8.4 Nothing in the Agreement can be understood as establishment between the User and Helpin of the agency relations,
    the relations of a partnership, the relations on joint activities, the relations of personal hiring, or some other
    relations which are directly not provided by this agreement.
</p>

<p>
    <font color="red">Use or access</font>
</p>

<p>
    Accepting Helpin conditions you:
</p>

<p>
    1) recognize that you read, understand and agree with all conditions indicated in current document (Terms of Use),
    including Helpin privacy policy. Details on <a href="http://helpin.am/service-privacy-policy">http://helpin.am/service-privacy-policy</a>
</p>

<p>
    2) declare that you have the right to enter these terms (including all terms and conditions provided or references
    below, including privacy policy),
</p>

<p>
    3) agree that you are obliged to comply with all conditions (including privacy policy) of Helpin, LLC (Helpin).
    Besides, when using specific services and materials from Helpin website Helpin source shall be specified. Any
    information about Helpin web page (which may contain terms, names, addresses, references and other private
    information), shall be placed in due form applicable to such services and materials.
</p>

<p>
    <font color="red">Access to the services Helpin</font>
</p>

<p>
    Helpin provides you non-exclusive, not subject to transfer, not obligated service of the special license, without
    the right to transfer the rights to the third parties provided that you will use Helpin of service only according to
    these conditions.
</p>

<h4>
    The finishing conditions
</h4>

<p>
    You understand and agree that:
</p>

<p>
    At the time of registering in Helpin your age should be 12 years or more.
</p>

<p>
    You bear the responsibility for any activities which occur under your user name or are connected with your
    accounting record. You bear the responsibility for safe storage of your user name and the password.
</p>

<p>
    You bear complete responsibility for your behavior and any information or materials, including data, text, images,
    names of users, graphics, photo, profiles, audio and video clips, references (differently known as "content"), the
    sent messages by means of the services Helpin.
</p>

<p>
    Violation of any of these conditions will lead to immediate cancellation of your accounting record.
</p>

<p>
    Helpin does not control, and Helpin does not hold the responsibility for usage of information and actions of users
    of the services Helpin.
</p>

<p>
    Helpin service is only for personal purposes, Helpin cannot be used for dealing purposes.
</p>

<p>
    It is impossible to use the web address and a user name without prior written consent from Helpin.
</p>

<p>
    It is impossible to resell or charge money for use or access to the services of Helpin.
</p>

<p>
    It is prohibited:
</p>

<ul>
    <li>
        to duplicate, reproduce, transfer, give access, copy or extend any part of the Helpin services on any means of
        media without the preliminary written permission of Helpin administration.
    </li>
    <li>
        to decompile, redesign, change, do derivative works, sort or modify any part of the services Helpin.
    </li>
    <li>
        access to any part of the Helpin services to construct similar or competitive services.
    </li>
    <li>
        to interfere or break integrity or performance of Helpin services or data.
    </li>
</ul>

<p>
    Helpin reserves the right for any reason and without prior notice at any time:
</p>

<ul>
    <li>
        to change or stop Helpin service(s).
    </li>
    <li>
        to deny or refuse access to Helpin services
    </li>
</ul>
